* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body {
  --x: 0px;
  background: url("./pics/space-bcg.png");
  background-size: 250vh;
  background-position: var(--x) 0;
  background-repeat: no-repeat; }

.wrapper {
  font-family: Trispace, "Courier New", Courier, monospace;
  color: white;
  max-width: 1200px;
  height: 100vh;
  margin: auto;
  background-color: rgba(0, 92, 173, 0.2);
  border: 3px double rgba(0, 40, 151, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.header {
  width: 100%;
  height: 4rem;
  padding: 1rem 20px 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0; }

.nav {
  background-color: rgba(255, 255, 255, 0.253);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px; }
  .nav__menu {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px; }
    .nav__menu__list {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      .nav__menu__list__item {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        cursor: pointer;
        margin: 0 1rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        transition: all ease-in-out 200ms; }
        .nav__menu__list__item:hover {
          text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #0fa, 0 0 10px #0fa, 0 0 12px #0fa, 0 0 16px #0fa, 0 0 20px #0fa; }
        .nav__menu__list__item:active {
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #0066ff, 0 0 10px #0066ff, 0 0 12px #0066ff, 0 0 16px #0066ff, 0 0 20px #0066ff; }

.main {
  display: grid;
  padding: 0 20px;
  margin-top: 2rem;
  height: 100%;
  grid-template-columns: 25% auto 25%;
  grid-template-rows: 4rem 16rem;
  justify-items: center;
  align-items: flex-start;
  grid-template-areas: "quizzstatus quizzstatus quizzstatus" "selectanswer player artistinfo"; }

.quizz-status {
  grid-area: quizzstatus;
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 10px; }
  .quizz-status__stage {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .quizz-status__stage__item {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      list-style: none;
      cursor: context-menu;
      transition: all cubic-bezier(0, -5, 0, 5) 3s; }
    .quizz-status__stage .active {
      text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #0fa, 0 0 8px #0fa, 0 0 10px #0fa, 0 0 12px #0fa, 0 0 14px #0fa;
      text-decoration: underline; }
    .quizz-status__stage .passed {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #0066ff, 0 0 10px #0066ff, 0 0 12px #0066ff, 0 0 16px #0066ff, 0 0 20px #0066ff; }
    .quizz-status__stage .scores {
      cursor: context-menu;
      text-transform: uppercase;
      font-size: 1.2rem;
      text-shadow: 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #fff, 0 0 10px #4c00ff, 0 0 12px #4c00ff, 0 0 14px #4c00ff, 0 0 16px #4c00ff, 0 0 20px #4c00ff; }

.select-answer {
  grid-area: selectanswer;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 0.2rem; }
  .select-answer .answer-selection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between; }
    .select-answer .answer-selection__item {
      height: 2rem;
      display: flex;
      font-size: 0.8rem;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin: 5px 0;
      border: 2px solid rgba(255, 255, 255, 0.253);
      border-radius: 10px; }
      .select-answer .answer-selection__item:hover {
        transition: ease-in-out 250ms;
        border: 2px solid #0fa;
        box-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #0fa, 0 0 8px #0fa, 0 0 10px #0fa, 0 0 12px #0fa, 0 0 14px #0fa; }
      .select-answer .answer-selection__item:active {
        transition: ease-in-out 100ms;
        border: 2px solid #0066ff;
        box-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #0066ff, 0 0 10px #0066ff, 0 0 12px #0066ff, 0 0 16px #0066ff, 0 0 20px #0066ff; }
    .select-answer .answer-selection .fail {
      border: 2px solid #ff4800;
      box-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #ff4800, 0 0 8px #ff4800, 0 0 10px #ff4800, 0 0 12px #ff4800, 0 0 14px #ff4800;
      cursor: context-menu; }
    .select-answer .answer-selection .hit {
      border: 2px solid #00c21a;
      box-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #00c21a, 0 0 8px #00c21a, 0 0 10px #00c21a, 0 0 12px #00c21a, 0 0 14px #00c21a;
      cursor: context-menu; }

.player {
  grid-area: player;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .player__info {
    height: calc(100% - 3rem);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .player__info__image {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .player__info__image > img {
        height: 90%; }
    .player__info__text {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .player__info__text__name {
        text-transform: uppercase;
        margin: 1rem 0;
        font-size: 1.2rem; }
      .player__info__text__years {
        font-size: 1rem; }
      .player__info__text__location {
        margin: 1rem 0;
        font-size: 1.2rem; }
  .player__controls {
    position: relative;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 0.4rem; }
    .player__controls__play {
      height: 80%;
      border: 0;
      background: transparent;
      box-sizing: border-box;
      width: 0;
      margin: 0 1rem;
      height: 2rem;
      border-color: transparent transparent transparent #0066ff;
      transition: 300ms all ease;
      cursor: pointer;
      border-style: solid;
      border-width: 1rem 0 1rem 2rem; }
      .player__controls__play.paused {
        border-style: double;
        border-width: 0px 0 0px 2rem; }
      .player__controls__play:hover {
        border-color: transparent transparent transparent #0fa; }
    .player__controls__time {
      -webkit-appearance: none;
      width: 100%;
      height: 2rem;
      border-radius: 5px;
      background: rgba(0, 102, 255, 0.5);
      overflow: hidden;
      cursor: pointer;
      margin: 0;
      position: relative;
      z-index: 2; }
      .player__controls__time::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 0px;
        height: 2rem;
        box-shadow: -400px 0 0 400px rgba(0, 255, 170, 0.5); }
    .player__controls__timeline {
      width: 0;
      position: relative;
      right: 15%;
      bottom: 18%;
      user-select: none;
      -webkit-user-select: none;
      z-index: 1; }
    .player__controls .volume__container {
      display: flex;
      flex-direction: row-reverse;
      align-items: center; }
      .player__controls .volume__container:hover .volume__container__volume {
        width: 4rem;
        margin: 0 1rem 0 1rem; }
      .player__controls .volume__container__volume {
        width: 0px;
        -webkit-appearance: none;
        height: 1rem;
        border-radius: 5px;
        background: rgba(0, 102, 255, 0.5);
        overflow: hidden;
        cursor: pointer;
        margin: 0 1rem 0 0;
        transition: all ease-in-out 400ms; }
        .player__controls .volume__container__volume::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 0px;
          height: 2rem;
          box-shadow: -400px 0 0 400px rgba(0, 255, 170, 0.5); }
      .player__controls .volume__container__mute {
        appearance: none; }
        .player__controls .volume__container__mute__label {
          cursor: pointer;
          height: 2rem;
          width: 2rem;
          position: relative;
          overflow: hidden;
          display: inline-block; }
          .player__controls .volume__container__mute__label__icon {
            display: block;
            width: 0.5rem;
            height: 0.5rem;
            background: #fff;
            margin: 11px 0 0 2px; }
            .player__controls .volume__container__mute__label__icon:after {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              border-style: solid;
              border-color: transparent #fff transparent transparent;
              border-width: 10px 14px 10px 15px;
              left: -13px;
              top: 5px; }
            .player__controls .volume__container__mute__label__icon:before {
              transform: rotate(45deg);
              border-radius: 0 50px 0 0;
              content: "";
              position: absolute;
              width: 0.5rem;
              height: 0.5rem;
              border-style: double;
              border-color: #fff;
              border-width: 7px 7px 0 0;
              left: 15px;
              top: 8px;
              transition: all 0.2s ease-out; }
        .player__controls .volume__container__mute:checked + label > span:before {
          transform: scale(0.1) translate(-15rem, 0) rotate(42deg); }

.artist-info {
  grid-area: artistinfo;
  height: 100%;
  width: 100%; }
  .artist-info__main {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-around; }
    .artist-info__main__portrait {
      height: 60%;
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .artist-info__main__portrait > img {
        height: 100%; }
    .artist-info__main__article {
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .artist-info__main__article__link a {
        color: white;
        text-decoration: none; }

/*# sourceMappingURL=style.css.map */
